/*  your css code here. If applicable */
.container{
	width:100%;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}
.code-container{
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	gap:5px;
}
.code{
	width:20px;
	
}
